extends layout

block content
    h1= title
    p Welcome to #{title}
    a(href="https://www.fitbit.com/logout", target="_blank") logout
  //a(href='https://www.fitbit.com/logout')
  //button.connect Logout



  //h1 Welcome #{user.displayName}
  //pre= user

